.kizomba1
{
	float: right;
}

p
{
	font-family: Constantia;
	font-size: 2em;
	font-style: oblique;
}

body
{
	background-size: 350px 350px;
	background-image: url('kizomba4.png');
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
}

h1
{
	font-size: 6em;
}

.kizomba
{
	color: rgb(205 202 202);
}

