.kizomba1
{
	float: right;
}

p
{
	font-family: Constantia;
	font-size: 2em;
	font-style: oblique;
}

h1
{
	font-size: 6em;
	text-align: center;
}

.kizomba
{
	color: rgb(205 202 202);
}

.taille
{
	width: 350px;
	height: 350px;
}

body
{
	background-image: url(fdp.png);
}